/* e17125 ORANGE */
/* 4f5c5d GRAY */
/* 14747d DARK BLUE */
/* 22bcb9 LIGHT BLUE */
/* fcf7c6 YELLOW*/

body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-size: 1em;
    background-image:url('images/paper.png');
    background-attachment: fixed;
    color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 0px solid #e17125;
  -webkit-transition : border-bottom 100ms ease-out; 
 -moz-transition : border-bottom 100ms ease-out;
 -o-transition : border-bottom 100ms ease-out;
}
a:hover {
  border-bottom: 5px solid #e17125;
}

.menu {
  padding: 0;
  margin: 0 auto;
  height: 5px;
  text-align: center;
  padding-right: 2.5%;
  padding-left: 2.5%;
  width: 1%;

}
/*
.menu:hover {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  padding-right: 2.5%;
  padding-left: 2.5%;
  border-bottom: 5px solid red;
  test
}
*/
.logo {
  width: 55%;
   margin-right: auto;
   margin-left: auto;
   padding-top: 2%;
   padding-bottom: 3%;
}

.header {
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 5.125em; /*82px*/
   color: #fff;
   font-weight: bold;
}

.headerblue {
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 5.125em; /*82px*/
   color: #fff;
   font-weight: bold;
}

.contact {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contactwrapper {
    width: 100%;
    height: 30%;
    background-color:#22bcb9; 
    padding: 0;
   position: relative;
   left: 0px;
   right: 0px;
   bottom: 0px;  
   text-align: center;
}

.work {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    clear: none;
    padding-bottom: 10px;
    background-color:#14747d; 
    
}

.aboutme {
    width: 50%;
    height: 22%;
    margin-left: 0;
    background-color: #22bcb9;
    float: left;
    position: relative;
    padding-bottom: 10px;
}

.skills {
    width: 50%;
    height: 22%;
    background-color: #14747d;
    float: left;
    margin-right: 0;
    right: 0;
    padding-bottom: 10px;
}

.aboutmetwo {
    width: 50%;
    height: 12%;
    margin-left: 0;
    background-color: #22bcb9;
    float: left;
    position: relative;
    padding-bottom: 5px;
    overflow: hidden;
}

.skillstwo {
    width: 50%;
    height: 12%;
    background-color: #14747d;
    float: left;
    margin-right: 0;
    right: 0;
    padding-bottom: 5px;
    overflow: hidden;
}
@media all and (max-width: 1400px) {
  .aboutme {
    height: auto;
  }
  .skills {
    height: auto;
  }
}

li {
    width: 15%;
    height: 27%;
    background-color:#14747d; 
    float: left;
    padding: 10px;
    margin-bottom: 20px;
}

.galleryitem {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 0 0 0px #e17125;
  -webkit-transition : box-shadow 100ms ease-out; 
 -moz-transition : box-shadow 100ms ease-out;
 -o-transition : box-shadow 100ms ease-out;
}
.galleryitem:hover {
  box-shadow: 0 0 0 7px #e17125;
}

ul {
    margin-right: auto;
    margin-left: auto;
}

#breaker {
    height: 10%;
    clear: both;
}
#breakertwo {
    height: 0%;
    clear: both;
}

.copy {
    width: 85%;
    margin: 0 auto;
}

.abouticon {
  max-width: 140px;
  max-height: 90px;

    
}

#icons {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2.25em; /*36px*/
  color: #fff;
  font-weight: bold;
  padding: 0;
}

#topwrapper {
    width: 100%;
    background-color:#22bcb9; 
    padding: 0;
   position: relative;
   left: 0px;
   right: 0px;
   top: 0px; 

}

#menubuttons {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2em; 
  color: #fff;
  font-weight: bold;
}

@media all and (max-width: 480px) {
  #topwrapper {
    height: 100px;
  }
  .menu {
float: left;
width: 100%;
text-align: left;
margin-left: 2px;
width: auto;
  }
}

.iconz {
  width: 95%;
  z-index: -10;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.iconztwo {
  position: relative;
  z-index: -10;
  text-align: center;
  padding-top: 50px;

}

.iconzthree{
  position: relative;
  text-align: center;
  padding-top: 50px;

}

.facebook {
 width: 90px;
 height:90px;
 display:block;
 background:transparent url('images/facebook2.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
}

.facebook:hover {
   background-image: url('images/facebook2.png');
}

.cellphone {
margin-top: 5px;
margin-bottom: 5px;
 width: 80px;
 height:100px;
 display:block;
 background:transparent url('images/cellphone2.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cellphone:hover {
   background-image: url('images/cellphone2.png');
}

.email {
 width: 100px;
 height:70px;
 display:block;
 background:transparent url('images/email2.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
}

.email:hover {
   background-image: url('images/email2.png');
}

.behance {
 width: 100px;
 height:100px;
 display:block;
 background:transparent url('images/behance2.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
}
.behance:hover {
   background-image: url('images/behance.png');
   border-bottom: 0px;
}

.linkedin {
 width: 100px;
 height:100px;
 display:block;
 background:transparent url('images/linkedin2.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
}

.linkedin:hover {
   background-image: url('images/linkedin2.png');
}

.profilepic {
  height: 170px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
}

.lightbox {
  /** Hide the lightbox */
  display: none;

  /** Apply basic lightbox styling */
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  background: rgba(20,116,125,0.9);
}
/*
.lightbox img {
  /** Pad the lightbox image 
  max-height: 90%;
  margin-top: 3%;
  padding: 5px;
}
*/
.lightbox:target {
  /** Show lightbox when it is target */
  display: block;

  /** Remove default browser outline style */
  outline: none;
}
.lightbox a {
  color: #fff;
  text-decoration: none;
}


.title {
 font-family: 'Amatic SC', cursive;
  padding: 0;
  margin-bottom: 0;
  font-size: 2.25em;
}

.description {
  
  text-align: left;
  font-size: 1em;
  font-variant: normal;
  font-style: normal; 
}

.back {
 font-family: 'Amatic SC', cursive;
  padding: 0;
  margin-bottom: 0;
  font-size: 3em;
  color: #e17125;
}

.artwork {
  float: left;
  height: 100%;
  margin-top: 1%;
  width: 86%;
}
.artwork img {
  max-height: 90%;
  width: auto;
  display: block;
  float: left;
  padding: .5%;
}

.artinfo {
  float: left;
  width: 12%;
  margin-top: 1%;
  padding-left: 1%;
  text-align: left;
}

.artworktwo {
  float: left;
  width: 86%;
  margin-top: 1%;
  height: 100%;

}
.artworktwo img {
  max-height: 80%;
  max-width: 40%;
  padding: .5%;
}

.artinfotwo {
  float: none;
  height: 15%;
  width: 80%;
  margin-top: 1%;
  text-align: left;
  padding-left: 6%;
}