/* e17125 ORANGE */
/* 4f5c5d GRAY */
/* 14747d DARK BLUE */
/* 22bcb9 LIGHT BLUE */
/* fcf7c6 YELLOW*/

body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-size: 1em;
    background-image:url('images/paper.png');
    background-attachment: fixed;
    color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 0px solid #e17125;
  -webkit-transition : border-bottom 100ms ease-out; 
 -moz-transition : border-bottom 100ms ease-out;
 -o-transition : border-bottom 100ms ease-out;
}
a:hover {
  border-bottom: 5px solid #e17125;
}

::selection {
  background: #fff;
  color: #4f5c5d;
  }
::-moz-selection {
  background: #fff;
  color: #4f5c5d;
}

.menu {
  padding: 0;
  margin: 0 auto;
  height: 5px;
  text-align: center;
  padding-right: 2.5%;
  padding-left: 2.5%;
  width: 1%;
}


/*
.menu:hover {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  padding-right: 2.5%;
  padding-left: 2.5%;
  border-bottom: 5px solid red;
  test
}
*/
.logo {
  width: 100%;
  height: 25%;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 3%;
   margin-top: 2%;
   background: url('images/logo2.svg') center top no-repeat;
}

.header {
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 5.125em; /*82px*/
   color: #fff;
   font-weight: bold;
}

.headerblue {
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 5.125em; /*82px*/
   color: #fff;
   font-weight: bold;
}

.contact {
   text-align: center;
   margin: 0 auto;
}
/*
.contact p {
    font-family: 'Amatic SC', cursive;
   font-size: 40px; /*82px*/ /*
   color: #fff;
   font-weight: bold;
   line-height: 35px;
}
*/
#contactwrapper {
  width: 100%;
  height: 26%;
  position: absolute;
  background-color:#22bcb9; 
  padding: 0;
  left: 0px;
  right: 0px;
/*  bottom: 0px;  */
}

.work {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /*clear: none;*/
    /*padding-bottom: 50px;*/
    background-color:#14747d; 
    margin-bottom: 5%;
    padding-bottom: 1%;   
}


.wrapper2 {
  width: 100%;
  position: relative;
  background: #22bcb9;
  background: -moz-linear-gradient(left, #22bcb9 0%, #22bcb9 50%, #14747d 50%, #14747d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#22bcb9), color-stop(50%,#22bcb9), color-stop(50%,#14747d), color-stop(100%,#14747d));
  background: -webkit-linear-gradient(left, #22bcb9 0%,#22bcb9 50%,#14747d 50%,#14747d 100%);
  background: -o-linear-gradient(left, #22bcb9 0%,#22bcb9 50%,#14747d 50%,#14747d 100%);
  background: -ms-linear-gradient(left, #22bcb9 0%,#22bcb9 50%,#14747d 50%,#14747d 100%);
  background: linear-gradient(to right, #22bcb9 0%,#22bcb9 50%,#14747d 50%,#14747d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22bcb9', endColorstr='#14747d',GradientType=1 );
    overflow: hidden;
    margin-bottom: 5%;
}

.wrapper2test {
  width: 100%;
  height: auto;
  position: absolute;
  background: #22bcb9;
  background: -moz-linear-gradient(left, #22bcb9 0%, #22bcb9 50%, #14747d 50%, #14747d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#22bcb9), color-stop(50%,#22bcb9), color-stop(50%,#14747d), color-stop(100%,#14747d));
  background: -webkit-linear-gradient(left, #22bcb9 0%,#22bcb9 50%,#14747d 50%,#14747d 100%);
  background: -o-linear-gradient(left, #22bcb9 0%,#22bcb9 50%,#14747d 50%,#14747d 100%);
  background: -ms-linear-gradient(left, #22bcb9 0%,#22bcb9 50%,#14747d 50%,#14747d 100%);
  background: linear-gradient(to right, #22bcb9 0%,#22bcb9 50%,#14747d 50%,#14747d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22bcb9', endColorstr='#14747d',GradientType=1 );
}

#thebigone {
  width: 100%;
  height: 30%;
  position: relative;
}

.aboutme {
    width: 50%;
    height: auto;
    margin-left: 0;
    /*background-color: #22bcb9;*/
    float: left;
    /*position: relative;*/
    padding-bottom: 20px;
    /*display: inline;*/
}

.skills {
    width: 50%;
    height: auto;
    /*background-color: #14747d;*/
    float: left;
    /*margin-right: 0;
    right: 0;*/
    padding-bottom: 20px;
    /*display: inline;*/
}

/*.aboutmetwo {
    width: 50%;
    height: 12%;
    margin-left: 0;
    background-color: #22bcb9;
    float: left;
    padding-bottom: 5px;
    overflow: hidden;
    vertical-align: middle;
}

.skillstwo {
    width: 50%;
    height: 12%;
    background-color: #14747d;
    float: left;
    margin-right: 0;
    right: 0;
    padding-bottom: 5px;
    overflow: hidden;
    vertical-align: middle;

}*/

@media all and (max-height: 850px) {
  .aboutme {
    height: 40%;
  }
  .skills {
    height: 40%;
  }
}

@media all and (max-height: 700px) {
  .aboutme {
    height: 45%;
  }
  .skills {
    height: 45%;
  }
}

li {
    width: 15%;
    height: 27%;
    background-color:#14747d; 
    float: left;
    padding: 10px;
    margin-bottom: 20px;
}

.galleryitem {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 0 0 0px #e17125;
  -webkit-transition : box-shadow 100ms ease-out; 
 -moz-transition : box-shadow 100ms ease-out;
 -o-transition : box-shadow 100ms ease-out;
}
.galleryitem:hover {
  box-shadow: 0 0 0 7px #e17125;
}

ul {
    margin-right: auto;
    margin-left: auto;
}

#breaker {
    height: 40%;
    clear: both;
}
#breakertwo {
    height: 0%;
    clear: both;
}

.copy {
    width: 85%;
    margin: 0 auto;
}

.abouticon {
  max-width: 140px;
  max-height: 90px;

    
}

#icons {
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2.25em; /*36px*/
  color: #fff;
  font-weight: bold;
  padding: 0;
}

#iconstext {
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 80%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2.25em; /*36px*/
  color: #fff;
  font-weight: bold;
  padding: 0;
}

#topwrapper {
    width: 100%;
    background-color:#22bcb9; 
    padding: 0;
   /*position: fixed;*/
   left: 0px;
   right: 0px;
   top: 0px; 
   z-index: 100;

}

#menubuttons {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2em; 
  color: #fff;
  font-weight: bold;
}

.iconz {
  width: 95%;
  z-index: -10;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 10px;
}

.facebook {
 width: 90px;
 height:90px;
 display:block;
 background:transparent url('images/facebook2.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
}

.facebook:hover {
   background-image: url('images/facebook2.png');
}

.cellphone {
margin-top: 5px;
margin-bottom: 5px;
 width: 80px;
 height:100px;
 display:block;
 background:transparent url('images/cellphone2.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cellphone:hover {
   background-image: url('images/cellphone2.png');
}

.email {
 width: 99px;
 height: 77px;
 display: inline-block;
 background:transparent url('images/email2.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.email:hover {
   background-image: url('images/email2.png');
}

.behance {
 width: 80px;
 height: 82px;
 display: inline-block;
 background:transparent url('images/icons2-03.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
.behance:hover {
   background-image: url('images/icons2-03-2.png');
   border-bottom: 0px;
}


.linkedin {
 width: 80px;
 height: 82px;
 display: inline-block;
 background:transparent url('images/icons2-04.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.linkedin:hover {
   background-image: url('images/icons2-04-2.png');
}

.profilepic {
  height: 170px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
}

.emailtext {
/* width: 160px;*/
 height: 73px;
 display: inline-block;
 text-align: center;
 font-family: 'Amatic SC', cursive;
 font-size: 40px;
 color: #fff;
 font-weight: bold;
 line-height: 41px;
 margin-right: 25px;
}

.backbutton {
 width: 50px;
 height: 50px;
 display: inline-block;
 background:transparent url('images/icons-14.png') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
.backbutton:hover {
   background-image: url('images/icons-14_2.png');
   border-bottom: 0px;
}

.resume {
 width: 129px;
 /*height: 50px;*/
 display: inline-block;
 text-align: center;
 font-family: 'Amatic SC', cursive;
 font-size: 40px;
 color: #fff;
 font-weight: bold;
 line-height: 43px;
}


.lightbox {
  /** Hide the lightbox */
  display: none;

  /** Apply basic lightbox styling */
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  background: rgba(20,116,125,0.9);
}
/*
.lightbox img {
  /** Pad the lightbox image 
  max-height: 90%;
  margin-top: 3%;
  padding: 5px;
}
*/
.lightbox:target {
  /** Show lightbox when it is target */
  display: block;

  /** Remove default browser outline style */
  outline: none;
}
.lightbox a {
  color: #fff;
  text-decoration: none;
}


.title {
 font-family: 'Amatic SC', cursive;
  padding: 0;
  margin-bottom: 0;
  font-size: 2.25em;
}

.description {
  
  text-align: left;
  font-size: 1em;
  font-variant: normal;
  font-style: normal; 
}

.back {
 font-family: 'Amatic SC', cursive;
  padding: 0;
  margin-bottom: 0;
  font-size: 3em;
  color: #e17125;
}

.artwork {
  float: left;
  height: 100%;
  margin-top: 1%;
  width: 86%;
}
.artwork img {
  max-height: 90%;
  width: auto;
  display: block;
  float: left;
  padding: .5%;
}

.artinfo {
  float: left;
  width: 12%;
  margin-top: 1%;
  padding-left: 1%;
  text-align: left;
}

.artworktwo {
  float: left;
  width: 86%;
  margin-top: 1%;
  height: 100%;

}
.artworktwo img {
  max-height: 80%;
  max-width: 30%;
  padding: .5%;
}

.artinfotwo {
  float: none;
  height: 15%;
  width: 80%;
  margin-top: 1%;
  text-align: left;
  padding-left: 6%;
}